@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

body {
    background-image: url('/assets/images/backgroundforquiz.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

