@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
}

body {
  background-image: url('assets/images/backgroundforquiz.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ----------------------------------------- Styles for 'Start Quiz' button ----------------------------------------- */

#startButton, #info_box,
#quiz,
#results {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#startButton.showBox,
#info_box.showBox {
  z-index: 6;
  opacity: 1;
}

#startButton.hideStart {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

#quiz.activeQuiz {
  z-index: 6;
  opacity: 1;
}

#results.showResults {
   z-index: 30;
  opacity: 1;
}

#startQuiz {
  margin: 0 auto;
  width: 120px;
  height: 90px;
  z-index: 10;
}

#startButton {
  position: absolute;
  top: 50%;
  cursor: pointer;
  margin: 0 auto;
  width: 40%;
  font-weight: 450;
  font-size: 30px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 12px 20px;
  height: 90px;
z-index: 20;}

/* ------------------------------------------ How to Play box ------------------------------------------*/

#info_box {
  background-color: #fff;
  width: 30%;
  border-radius: 8px;
  border: 2px solid black;
  height: 350px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  margin-top: 300px;
}

.ruleTitle {
  text-align: center;
height: 20px;
  color: #000;
  padding-top: 20px;
  padding-bottom: 30px; 
  font-weight: 700;
  font-size: 2em;
  line-height: 20px;
}

.quizRules {
  width: 80%;
  padding: 10px 30px;
  margin: 0 auto;
  font-weight: 600;
}

.quizRules .info {
  margin: 5px 0;
  font-size: 20px;
  line-height: 22px;
}

.bullet {
  font-weight: 700;
  padding: 0 5px;
}

.buttons {
  height: 80px;
  padding: 0 30px 0 10px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 30px auto;
}

.buttons button {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #695E93;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #000;
}

.buttons button:hover {
  color: #695E93;
  background-color: #fff;
}

/*----------------------------Quiz Box----------------------------*/

#quiz {
  width: 600px;
  background-color: #fdfff2;
  border-radius: 8px;
  color: #000;
  box-shadow: 0px 1px 2px 1px;
  height: 450px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
margin-top: -300px;
}

#questionText,
.answerList {
  color: #000;
  padding: 3px;
  background-color: #fdfff2;
}

#quiz header {
  height: 80px;
  padding: 10px 30px;
  background-color: #fdfff2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  color: darkgray;
  position: relative;
  z-index: 1000;
  box-shadow: 0px 4px 4px 1px;
}

#quiz header .title {
  font-size: 25px;
  font-weight: 700;
  color: #000;
}

/* ------------------------------- Quiz box - Main Body ------------------------------------*/

#quiz #questionText {
  padding: 10px 0px 20px 0px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
}

#totalQuestions {
  font-size: 17px;
  font-weight: 600;
  color: #000;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}

#quiz section {
  padding: 20px 30px 10px 30px;
  background-color: #fdfff2;
}

#quiz .answerList {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  font-size: 17px;
  font-weight: 500;
}

.option {
  background: lightgray;
  border: 2px solid darkgray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.option:hover {
  background-color: #fff;
  border: 2px solid lightgray;
  color: #000;
  cursor: pointer;
}

/* -------------------------Correct/Incorrect answer buttons -------------------- */

#answerList .option.correct {
  color: #fff;
  background-color: lightGreen;
  border: 2px solid darkGreen;
}

#answerList .option.incorrect {
  color: #fff;
  background-color: red;
  border: 2px solid darkRed;
}

#answerList .option.disable {
  pointer-events: none;
}

/* ---------------------------Next Button----------------------------- */

footer {
  margin: 20px auto;
}

#nextButton {
  margin: 0 auto;
  width: 30%;
  font-weight: 450;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nextButton:hover {
  color: #fff;
  background-color: #000;
}

/*-------------------- Quiz Results section -------------------- */

#results {
  background-color: #fff;
  width: 600px;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  position: absolute;
}

#results h3 {
  padding-left: 10px;
  font-size: 22px;
}

#score {
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#score span {
  display: flex;
  margin: 8px 0;
  font-size: 15px;
}

#score span p {
  font-weight: 700;
  padding: 0 5px;
}

.icon {
  margin: 12px auto;
  background-image: url('assets/images/Hilichurl_3.png');
  background-size: cover;
  height: 200px;
  width: 200px;
}

/*------------------------------------ Quiz result buttons ------------------------------------ */

#newGame,
#exitQuizStart,
#exitQuiz {
  margin: 0 12px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #695E93;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #000;
}

#newGame:hover,
#exitQuiz:hover,
#exitQuizStart:hover {
  color: #695E93;
  background-color: #fff;
}
