@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

body {
    background-image: url('/assets/images/backgroundforquiz.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ----------------------------------------- Styles for 'Start Quiz' button ----------------------------------------- */

#startQuiz,
#info_box {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
};

#startQuiz button { 
    margin: 0 auto;
    width: 50%;
    font-weight: 450;
    font-size: 30px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 12px 20px;
    height: 45px;
}



/* ------------------------------------------ How to Play box ------------------------------------------*/

#info_box {
    background-color: #fff;
    width: 40%;
    border-radius: 8px;
    border: 2px solid black;
    height: 350px;
    display: none;
}

.ruleTitle {
    text-align: center;
    color: #000;
    padding-top: 15px;
    font-weight: 700;
    font-size: 2em;
}

.quizRules {
width: 80%;
padding: 10px 30px;
margin: 0 auto;
font-weight: 600;
}

.quizRules .info {
    margin: 5px 0;
    font-size: 20px;
}

.bullet {
    font-weight: 700;
    padding: 0 5px;
}

.buttons {
    height: 50px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.buttons button {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: #695E93;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #000;
}

.buttons button:hover {
    color: #695E93;
    background-color: #fff;
}